.logo-img{
    height: 50px;
    width: auto ;
    margin-left: 25px;
}

.nav-link{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    transition: 0.3s;
}
.nav-links{
    font-weight: bold;
    gap: 20px;
    font-size: 1.2rem;
    margin-top: 25px;
}
.nav-icons{
    gap: 20px;
    font-size: 1.2rem;

}
.navbar-section {
  height: 95px;
  display: flex !important;  /* Ensure it uses flex */
  align-items: center !important;  /* Vertically center items */
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 20px;  /* Adds spacing between links */
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 992px) {
    .nav-icons{
        margin-right: 35px;
    }
    .navbar-section{
      margin-top: -20px;
      height: 95px;
    }
    
}
.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1050;
  }
  
  .close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .overlay-nav-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    font-size: 24px;
  }
  
  .overlay-nav-links a {
    color: white !important;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .overlay-nav-links a:hover {
    color: #ffcc00 !important;
  }
  
  .overlay-nav-icons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .overlay-nav-icons a {
    color: white !important;
    font-size: 24px;
  }
  
.nav-links hr{
  border: none ;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: black;
  margin-top: -3px;
}
.login-nav{
  width: 100px;
  height: 40px;
  border: 1px solid black;
  outline: none;
  border-radius: 120px;
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 5px;
}
.cart-nav{
  width: 50px;
  height: 40px;
  border: 1px solid black;
  outline: none;
  border-radius: 120px;
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 5px;
}
.cart-quantity{
  width: 16px;
    height: 15px;
    background-color: red;
    color: white;
    font-size: 11px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    top: 35px;
    right: 164px;
}