.new-collection-head {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
    margin-bottom: 40px;
}
.new-collection-items{
    display: flex;
}
.new-collections{
    background-color: #f8f9fa;
   
}